body {
  text-align: center;
  color: black;
  background-color: rgb(226, 226, 226);
}


.DictionaryImg {
  background-color:rgb(226, 226, 226);
  max-width: 205px;
  position: relative;
  padding-top: 40px;
  margin-right: 555px;

  
}
.App-header {
  margin: 30px;
  display: block;
  line-height: 10px;
}
a {
  color: rgb(0, 3, 168);
}
.App-footer {
  text-align: center;
  margin: 30px, 0;
}
.Ictonary {
  font-size: 100px;
  position: relative;
  height: 10px;
  color:rgb(59, 59, 59);
  margin-right: 1%;
  margin-left: 15%;
  bottom: 40%;
  letter-spacing: 19px;

  

  background-size: 100%;

}





.App-link {
  color: #61dafb;
}


